.md-editor {
  width: 100%;
  height: 100%;
  background: #323232;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.toolbar {
  height: 50px;
  display: flex;
  align-items: flex-end;
}

.left {
  width: 50%;
  height: 88vh;
  margin: 10px;
}

.right {
  width: 50%;
  height: 88vh;
  margin: 10px;
  background: #fbfbfb;
  border: solid 1px rgb(133, 133, 133);
  overflow: scroll;
  padding: 20px;
  box-sizing: border-box;
  color: #333;
  font-family: monospace, inherit, sans-serif;
  font-size: 13px;
}

.input-area {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  border: 2px solid #eee;
  font-size: 13px;
}

.code-wrapper {
  background-color: rgb(239,239,239);
  padding: 5px;
  font-family: monospace, sans-serif;
  font-size: 13px;
}

.tools {
  margin-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tool-btn {
  width: 35px;
  height: 35px;
  text-align: center;
}
